.green {
color: green !important;
border: 1px solid green !important;
border-radius: 5px !important;
}

.red {
color: red !important;
border: 1px solid red !important;
 border-radius: 5px !important;
}
